<footer>

    <div>
        <img id="img" src="icones/logo.png" alt="">
        <p id="slogan">Génio Pró Chat</p>
    </div>

    <p id="att">
        <dl>
            <dt id="textoRodapéTitulo"> <strong>Atenção: </strong> </dt>

            <dd id="textoRodapé">
                Versão de teste, criado por Génio Pró

                Este projecto ainda está a ser desenvolvido,
                muito em breve estará pronto, aproveite o momento
                e desfrute das pequenas funcionalidades que deixamos disponíveis para você.
            </dd>
        </dl>
    </p>


    <div>
        <p id="copyrite">Copyrite .2022 todos os direitos e reservados</p>
    </div>

    <p id="buscarRodapé"></p>
    </div>
</footer>