<footer>
    <div class="container pt-4">
        <div class="row d-table d-md-flex">
            <div class="col">
                <img id="img" width="30%" src="../../assets/img/icones/logo.png" alt="">
                <p id="slogan">Génio Pró Chat</p>
            </div>

            <div class="col">
                <div class="text-start">
                    <strong>Atenção: </strong>
                    <p>Versão de teste, desenvolvedor <span class="text-success">Eugénio Cachiombo</span>
                        Este projecto ainda está a ser desenvolvido, muito em breve estará pronto, aproveite o momento
                        e desfrute das pequenas funcionalidades que deixamos disponíveis para você.</p>
                </div>
            </div>

            <div class="col d-flex align-items-center ">
                <p class="text-md-end w-100">© 2022 todos os direitos e reservados</p>
            </div>
        </div>
    </div>
</footer>